if SHIELD_ODDBALL_CENTRAL_DONGLE || SHIELD_ODDBALL_CENTRAL_LEFT

config ZMK_KEYBOARD_NAME
    default "Oddball"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if ZMK_DISPLAY

config I2C
    default y

choice ZMK_DISPLAY_WORK_QUEUE
    default ZMK_DISPLAY_WORK_QUEUE_DEDICATED
endchoice

endif



if SHIELD_ODDBALL_CENTRAL_DONGLE || SHIELD_ODDBALL_CENTRAL_LEFT || SHIELD_ODDBALL_PERIPHERAL_LEFT || SHIELD_ODDBALL_PERIPHERAL_RIGHT

config ZMK_SPLIT
    default y

endif

config MOUSE_LAYER_INDEX
	int "Index of mouse layer"
	default 4

config SCROLL_LAYER_INDEX
	int "Index of scroll layer"
	default 5

config MOUSE_LAYER_ACTIVE_MS
	int "Amount of milliseconds the mouse layer will be active after using the trackball"
	default 400